.main
 .main__side
  .main__side__content
   %button#hamburgerbtn
    %span
    %span
    %span
   

  .main__side__nav
   #graylayer
    %ul#slidemenu
     %button#hamburgerbtn1
      %span
      %span
      %span
     %h3 menu 

     %li
      =link_to "Post", new_report_path
     %li
      =link_to "Post All", reports_path

     %h4 category

     %li
      =link_to "Book", root_path
     %li
      =link_to "Movie", root_path
     %li
      =link_to "WebSite", root_path
      

  .main__side__search
  = link_to search_reports_path do
   = image_tag 'icons8-ios-50.png',height: '30px',width:'30px',class:'main__side__search__logo'
    
  

  %h2 BOOK-WORM

 .main__right
  .main__right__top
   .main__right__top__box
   = image_tag 'reading-1246520_1280.jpg',height: '500px',width:'800px',class:'main__right__top__picture'

  .main__right__bottom
   -@report.first(1).each do |report|
    .main__right__bottom__title
     = link_to "/reports/#{report.id}", method: :get do
      .main__right__bottom__title__name
       Today Recommend : 
       = report.title
    .main__right__bottom__phrase
     "People don't realize how a man's
     %br
     whole life can be changed by one book"
    .main__right__bottom__name
     by Malcolm X


    
 

