%h1 投稿
= form_for @report do |f|
  %p
    = f.label :タイトル
    %br/
    = f.text_field :title

  %p
    = f.label :カテゴリー
    %br/
    .exhibition__detail__cat
      = f.collection_select :category_id, Category.roots, :id, :name, {prompt: "------"}, {class: "aaaaa"}

  %p
    = f.label :ウェブサイト
    %br/
    = f.text_field :url
  %p
    = f.label :レビュー
    %br/
    = f.text_area :review
  %p
    = f.submit