.footer
 .footer__contents
  .footer__contents__content1
   %h3 About Book-Worm
   %ul
    %li  
    = link_to root_path do
     What Is It？
    %li
    = link_to root_path do
     How To Use
    %li
    = link_to root_path do
     Rule
  .footer__contents__content2
   %h3 Recommended Site To Review
   %ul
    %li  
    = link_to "https://www.amazon.co.jp/" do
     Amazon
    %li
    = link_to "https://www.youtube.com/?gl=JP&hl=ja" do
     You Tube
    %li
    = link_to "https://note.com/" do
     note
 .footer__logo
  %h3 Copy right ©︎Grow-Up